.sidebar {
  position: fixed;
  background-color: white;
  width: 60px;
  top: 50.5px;
  left: 0px;
  bottom: 0px;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  height:50px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  font-family: Roboto, Arial;
  transition: background-color 0.2s;
  text-align: center;
}

.sidebar-link:hover {
  background-color: rgb(234, 234, 234);
  
}

.sidebar-link img {
  height: 20px;
  margin-bottom: 6px;
}
