.thumbnail-row {
  margin-bottom: 6px;
  position: relative;
  z-index: 1;
}

.video-time {
  position: absolute;
  bottom: 9px;
  right: 5px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 4px;
  font-size: 10px;
  border-radius: 2.5px;
  opacity: 0.8;
}

.thumbnail {
  width: 100%;
  cursor: pointer;
}

.profile-picture {
  width: 36px;
  border-radius: 100%;
  cursor: pointer;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 12px;
  cursor: pointer;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 16px;
}

@media (max-width: 800px) {
  .video-grid {
  grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .video-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1600px) {
  .video-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.video-grid {
  margin-bottom: 800px;
}